doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title #{blog.title}
    meta(name="description" content="#{blog.description}")
  body
    header
      h1 #{blog.title}
      p.description #{blog.description}
    main
      ul
        for post in posts
          li
            h2
              a(href='#{post.url}') #{post.title}
            time #{post.date}