doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title #{post.title} | #{blog.title}
    meta(name="description" content="#{blog.description}")
    link(rel="stylesheet", href="../assets/css/main.css")
  body.post
    header.header
      a(href="/")
        img(src="../assets/img/logo.png", alt="logo", width="150", height="150")
      h1 #{blog.title}
      p #{blog.description}
    main.main
      article
        header
          h1 #{post.title}
          time Posted on #{post.date}
        section
          != post.content
    footer.footer
      p All content copyright #{blog.author} © 2014 · All rights reserved.
      p published with INARI on GitHub