doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title #{post.title} | #{blog.title}
    meta(name="description" content="#{blog.description}")
  body
    header
      h1
        a(href="../index.html") #{blog.title}
      p.description #{blog.description}
    article
      header
        h1 #{post.title}
        time Posted on #{post.date}
      div
        != post.content