doctype html
html(lang="ja")
  head
    meta(charset='utf-8')
    title= title
    meta(name='description' content='#{description}')
    meta(name='author' content='#{author}')
  body
    h1= title
    h2 Recented Posts
    - var posts = post;
    - console.log(posts);
    - console.log(posts[0].title);
    p #{posts[2].title}
    - each apost in posts
      li #{apost.title}