doctype html
html(lang="ja")
  head
    meta(charset='utf-8')
    title= title
    meta(name='description' content='#{description}')
    meta(name='author' content='#{author}')
  body
    header
      h1= title
    article
      header
        h1 #{post.title}
        time Date : #{post.created_at}
      div
        != post.html
    footer
      p.
        All content copyright @p1ch_jp © 2014 · All rights reserved.<br>
        published with INARI on DigitalOcean